# Visual Studio
.vs/
.vscode/
*.user
*.suo

# Build
bin/
obj/
out/
Debug/
Release/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Dotnet tools
*.dbmdl
*.jfm
*.aps

# Others
launchSettings.json

# Credenciais locais
.git-credentials-local
.git-credentials-local.txt
